body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	text-transform: none;
	box-sizing: border-box;
}

i.fa {
	margin-left: .5em;
	margin-right: .5em;
}
